<!DOCTYPE html>
<html ng-app="peopleApp">
  <head>
    <title>People</title>
    <script src="/javascripts/lib/angular-1.4.2/angular.min.js"></script>
    <script src="/javascripts/people.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1><a href="/">People</a></h1>
    {{{body}}}
  </body>
</html>
